<header>

    <nav>

        <div class="header-container">

            <div class="logo-container"> 
                 <a href="./banner/banner.component">Movie Seeker</a>
            </div>

            <div class="item-container">

                <a href="./categories/categories.component"> Categorias </a>

                <a href="about/about.component"> Sobre</a>

                
            </div>
            

            <div class="sanduiche-container"> 
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

</header>