<header>

    <nav>

        <div class="header-container">

            <div class="logo-container"> 
                 <a routerLink="">Movie Seeker</a>
            </div>

            <div class="item-container">

                <a routerLink="/categories"> Categorias </a>

                <a routerLink="/about"> Sobre</a>
                
            </div>
            

            <div class="sanduiche-container"> 
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

</header>