<header>

    <nav>

        <div class="header-container">

            <div class="logo-container"> 
                 <a>Movie Seeker</a>
            </div>

            <div class="item-container">

                <a> Categorias </a>

                <a target="_blank" href="about/about.component"> Sobre</a>

                
            </div>
            

            <div class="sanduiche-container"> 
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>

    </nav>

</header>