<div class="container">

    <div> <h3>  Categorias </h3> </div>

    <!-- Container Categoria -->

    <div> 
        
        <!-- Ação -->

        <div>

            <div> <h4> Ação </h4> </div>
            
            <div class="card-container"> 
                
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
    
            </div>

        </div>

        <!-- Comédia -->

        <div>
            
            <div> <h4> Comédia </h4> </div>
    
            <div class="card-container"> 
                
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
    
            </div>

        </div>
        
        <!-- Terror -->

        <div>

            <div> <h4> Terror</h4> </div>
    
            <div class="card-container"> 
                
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
                <div>  <img src="" alt=""> </div>
    
            </div>

        </div>

    <!-- Fim Container categorias -->

    </div>

<!-- Fim container -->

</div>