.card-container {
    /* background-color: aqua; */
    line-height: 50px;
    /* border: 1px solid white; */
}

.card-container div {
    text-align: center;
}

h4 {
    font-size: 25px;
}

.card-container img {
    width: 150px;
    height: 200px;
}

.card-container button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 20px;
    padding: 0.5rem;
}