.categories-container {
    padding: 5%;
}

h4 {
    font-size: 20px;
    line-height: 50px;
}

.card-container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;
}

img {
    height: 200px;
    width: 150px;
}

a {
    cursor: pointer;
}

@media screen and (max-width: 550px) {

    h4 {
        font-size: 3.5vw;
    }
    
    .card-container {
        flex-direction: column;
    }
}