<div class="categories-container">

    <!-- Container Categoria -->

    <div> 
        
        <!-- Ação -->

        <div>

            <div> <h4> Ação </h4> </div>
            
            <div class="card-container"> 
                
                <div> <a><img src="/assets/img/batman.jpg" alt=""></a>  </div>
                <div> <a> <img src="/assets/img/pulp-fiction.jpg" alt=""></a>   </div>
                <div>  <a><img src="/assets/img/john-wick.jpg" alt=""></a>  </div>
    
            </div>

        </div>

        <!-- Comédia -->

        <div>
            
            <div> <h4> Comédia </h4> </div>
    
            <div class="card-container"> 
                
                <div> <a> <img src="/assets/img/minha-mae-e-uma-peça.jpg" alt=""> </a>  </div>
                <div>  <a> <img src="/assets/img/billi-pig.jpg" alt=""> </a> </div>
                <div>  <a> <img src="/assets/img/era-do-gelo-4.jpg" alt=""> </a> </div>
    
            </div>

        </div>
        
        <!-- Terror -->

        <div>

            <div> <h4> Terror</h4> </div>
    
            <div class="card-container"> 
                
                <div> <a> <img src="/assets/img/morte-do-demonio.jpg" alt=""></a>  </div>
                <div>  <a> <img src="/assets/img/maligno.jpg" alt=""> </a> </div>
                <div>  <a> <img src="/assets/img/sorria.jpg" alt=""> </a> </div>
    
            </div>

        </div>

    <!-- Fim Container categorias -->

    </div>

<!-- Fim container -->

</div>