<div class="container">

    <div> <h2> Sobre </h2> </div>

    <div> <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo architecto culpa eaque, iure modi enim quos nobis minus similique voluptas tenetur. Porro iure nemo tenetur officiis rem in nihil quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic reprehenderit, tenetur deleniti labore doloremque cupiditate corporis ducimus veritatis, deserunt explicabo amet cumque aliquam numquam soluta repudiandae perferendis doloribus quod sunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam suscipit repellendus est dolores! Excepturi, eos dignissimos consequuntur dolore unde ipsa distinctio deleniti, odio eius voluptatibus dolorem maiores expedita numquam iusto?</p> </div>

</div>