.about-container {
    box-sizing: border-box;
    /* background-color: red ; */
    padding: 5%;
    height: 85vh;
}

h3 {
    /* font-size: clamp(4vw, 6.5vw, 10vw); */
    font-size: 30px;
    margin-bottom: 3%;
}

p {
    /* font-size: clamp(3vw, 4.3vw, 7vw); */
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    h3 {
        font-size: 5vw;
    }

    p {
        font-size: 3.5vw;
    }
}