.card {
    opacity: 0.9;
    cursor: pointer;
    /* background-color: aqua; */
}
.card img {
    width: 150px;
    height: 200px;
}

h4 {
    max-width: 150px;
    font-size: 25px;
    text-align: center;
}

.card:hover {
    opacity: 1.1;
}